@font-face {
    font-family: 'osnova_proregular';
    src: url('../fonts/osnova-pro/osnova-pro-regular/osnova-pro-regular.eot');
    src: url('../fonts/osnova-pro/osnova-pro-regular/osnova-pro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/osnova-pro/osnova-pro-regular/osnova-pro-regular.woff2') format('woff2'),
         url('../fonts/osnova-pro/osnova-pro-regular/osnova-pro-regular.woff') format('woff'),
         url('../fonts/osnova-pro/osnova-pro-regular/osnova-pro-regular.ttf') format('truetype'),
         url('../fonts/osnova-pro/osnova-pro-regular/osnova-pro-regular.svg#osnova_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'osnova_probold';
    src: url('../fonts/osnova-pro/osnova-pro-bold/osnova-pro-bold.eot');
    src: url('../fonts/osnova-pro/osnova-pro-bold/osnova-pro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/osnova-pro/osnova-pro-bold/osnova-pro-bold.woff2') format('woff2'),
         url('../fonts/osnova-pro/osnova-pro-bold/osnova-pro-bold.woff') format('woff'),
         url('../fonts/osnova-pro/osnova-pro-bold/osnova-pro-bold.ttf') format('truetype'),
         url('../fonts/osnova-pro/osnova-pro-bold/osnova-pro-bold.svg#osnova_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";


.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1370px;
	// padding: 0;
	position: relative;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
	padding: 33px 0 70px;
	>.container-fluid{
		padding-left: 244px;
	}
}

.page-top{
	position: relative;
	margin-top: -158px;
	padding-top: 147px;
	padding-bottom: 8px;
	.container-fluid{
		padding-left: 244px;
	}
	
}

.page-top__txt{
	display: flex;
	flex-wrap: wrap;
    min-height: 335px;
    flex-direction: column;
    justify-content: space-between;
}

.page-top__bg{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&:before{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.55);
	}

}

.page-title{
	h1{
		color: #fff;
		margin: 0;
		font-weight: normal;
		font-size: 56px;
		font-family: 'osnova_proregular';
	}
}

.breadcrumbs{
	font-size: 14px;
	display: flex;
	align-items:center;
}

.breadcrumbs__item{
	color: #fff;
}

a.breadcrumbs__item{
	//margin-right: 28px;
	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 7px;
		height: 11px;
		background: url(../img/svg/bread_crumbs.svg) no-repeat;
		margin: 0 11px;
	}
}

.image-item{
	max-width: 889px;
	margin-bottom: 20px;
	img{
		display: block;
		border: 2px solid #fff;
		max-width: 100%;
		height: auto;
	}
}

.image-item__caption{
	font-size: 14px;
	background: #fff;
	padding: 13px 16px;
}

.tooltip{
	color: #058ACD;
	&:hover{
		color: #056493;
	}
}


.tooltipster-sidetip .tooltipster-box{
    background: transparent;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    /* padding: 15px 20px; */
    //box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
    max-width: 400px;
}

.tooltipster-sidetip .tooltipster-content {
    font-size: 16px;
    color: #333;
    line-height: 1.3;
   	padding: 14px 15px;
   	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.14);
   	background: #fff;
}

.tooltipster-sidetip .tooltipster-arrow-background {
    border: 11px solid transparent;
    border-top-color: #fff!important;
    left: -1px!important;
    top: -2px!important;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #fff;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #fff;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{
    border-top-color: #e4e4e4;
}


.map-wrap{
	position: relative;
	height: 560px;
	border: 2px solid #fff;
	overflow: hidden;
	margin-bottom: 20px;
}
#map-default{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

ymaps[class$="-copyright"] {
	display: none;
}

.table-wrap{
	overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
    table{
    	margin-bottom: 0;
    }
}

.table-wrap::-webkit-scrollbar {
    height: 8px;
}
 
.table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #056493;
}

.highlighted{
	background: #C4E4DD;
}

.table-caption{
	font-size: 14px;
}

.video-wrap{
	    max-width: 889px;
    margin-bottom: 20px;
    position: relative;
    img{
    	display: block;
    	max-width: 100%;
    	height: auto;
    	border: 2px solid #fff;
    }
    
}

.video-wrap__img{
	position: relative;
	// &:after{
	// 	content: '';
	// 	background: rgba(0,0,0,0.6);
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }
}

.video-wrap__link{
	display: inline-block;
	width: 174px;
	height: 174px;
	// border: 2px solid #0091EA;
	// border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -87px;
	left: 50%;
	margin-left: -87px;
	// background: rgba(255,255,255,0.7);
	transition:all 0.3s ease;
	z-index: 2;
	background: url(../img/svg/video_big_play.svg) no-repeat;
	// &:before{
	// 	content: "";
	// 	width: 63px;
	// 	height: 71px;
	// 	position: absolute;
	// 	left: 50%;
	// 	margin-left: -26px;
	// 	top: 50%;
	// 	margin-top: -35px;
	// 	background: url(../img/svg/video_play_button.svg) no-repeat;
	// 	transition:all 0.3s ease;
	// 	// transform: rotate(17deg);
	// }
	&:hover{
		transform:scale(1.1);
		//border: 4px solid #BBEE2A;
	}
	// &:active{
	// 	//border: 2px solid #6CC644;
	// 	&:before{
	// 		background: url(../img/svg/video_play_button-h.svg) no-repeat;
	// 	}
	// }

}


.paging{
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-between;
	font-size: 17px;

}

.paging__inner{
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}

.paging__item{
	margin-right: 10px;
	text-decoration: none;
	border-radius: 50%;
	border: 1px solid #0091EA;
	    padding: 8px 10px;
    min-width: 40px;
    text-align: center;
	text-decoration: none!important;
	color: #222222;
	position: relative;
	background: #fff;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid transparent;
		transition:all 0.3s ease;
		opacity: 0;
	}
	&:hover{
		&:before{
			border: 2px solid #0091EA;
			opacity: 1;
		}
		
	}
	&.paging__item--prev,
	&.paging__item--next,
	&.paging__item--more{
		border:0;
		background: transparent;
	}
	&.paging__item--prev,
	&.paging__item--next{
		padding: 0;
	}
	&.paging__item--prev{
	    position: relative;
	    padding-left: 48px;
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			background: #FFFFFF url(../img/svg/pagging_arrow_left.svg) center no-repeat;
			background-size: 10px 16px;
			border-radius: 50%;
			left: 0;
			top: 50%;
			margin-top: -20px;
			height: 40px;
			width: 40px;
			border: 1px solid #0091EA;
			opacity: 0.5;
			transition: opacity 0.3s ease;
		}
		&:before{
			display: none;
		}
		&:hover{
			color: #0091EA;
			&:after{
				opacity: 1;
			}
		}
	}
	&.paging__item--next{
		margin-right: 0;
		padding-right: 48px;
		position: relative;
		&:before{
			display: none;
		}
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			background: #FFFFFF url(../img/svg/pagging_arrow_right.svg) center no-repeat;
			background-size: 10px 16px;
			border-radius: 50%;
			right: 0;
			top: 50%;
			margin-top: -20px;
			height: 40px;
			width: 40px;
			border: 1px solid #0091EA;
			opacity: 0.5;
			transition: opacity 0.3s ease;
		}
		&:hover{
			color: #0091EA;
			&:after{
				opacity: 1;
			}
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&.active{
		// border: 1px solid #fff;
		background: $default-bg;
		color: #fff;
	}
	&.paging__item--more{
		background: transparent;
		    margin: 0 4px 0 -10px;
		&:before{
			display: none;
		}
	}
}

.success{
	background: #fff;
	    padding: 28px 28px 34px 34px;
	font-size: 17px;
	max-width: 690px;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.14);
	position: relative;
	&:before{
		content: "";
		height: 2px;
		width: 310px;
		background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
		display: inline-block;
		position: absolute;
		top: 0;
		left: 36px;
	}
	h4{
		margin-bottom: 20px;
	}
	.btn{
		font-size: 20px;
	}
	p{
		margin-bottom: 33px;
	}
}

.success__close{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/svg/close.svg) no-repeat;
	position: absolute;
	right: 10px;
	top: 10px;
	&:hover{
		background: url(../img/svg/close-h.svg) no-repeat;
	}
}


.resp-tabs{
	margin-bottom: 20px;
}

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
   	//border-bottom: 2px solid #e0dfde;
   	display: inline-block;
   	position: relative;
   	&:after{
   		content: '';
   		display: block;
   		width: 100%;
   		height:  1px;
   		background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
   	}
    .r-tabs-state-active{
    	background: #fff!important;
    	border: 1px solid #DBE1E3;
    	.r-tabs-anchor{
			pointer-events:none;
			//color: #222222;
			// font-size: 24px;
			//font-family: inherit;
			&:after{
				height: 4px;
				bottom: -1px;
				background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
			}
    	}
    }
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 0;
    //background-color: #F5F6F5;
    transition:all 0.3s ease;
    margin-right: -5px;
    border: 1px solid transparent;
    &:last-child{
    	margin-right: 0;
    }
    &:before{
    	display: none;
    }
    &:hover{
		background: #DBE1E3;
		border: 1px solid #DBE1E3;
	}
}

.r-tabs .r-tabs-panel {
    padding: 25px 0 0;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}
    


.r-tabs-anchor{
	display: block;
	    padding: 17px 20px 12px 20px;
	text-decoration: none!important;
	transition:all 0.3s ease;
	position: relative;
	margin-bottom: -2px;
	font-family: 'osnova_probold';
	color: inherit;
	&:after{
		content: "";
		display: inline-block;
		width: 100%;
		height: 2px;
		background: transparent;
		position: absolute;
		left: 0;
		bottom: 0px;
		transition:all 0.3s ease;
	}
	&:hover{
		//background: #DBE1E3;
		&:after{
			//background: #12824B;
		}
	}
}


.downoad-item{
	margin-bottom: 20px;
}

.download{
	transition: all 0.3s ease;
	color: #058ACD;
	font-family: 'osnova_probold';
	    display: flex;
    align-items: center;
	span{
		color: #939393;
		font-family: $default-font;
		margin-left: 9px;
	}
	&:hover{
		    color: #056493;
		.download__icon img{
			opacity: 0.6;
		}
	}
	&:active{
		color: #12824B;
	}
}
.download__icon{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 32px;
	margin-right: 15px;
	margin-left: 0;
	//margin-top: -3px;
	transition: all 0.3s ease;
	position: relative;
	text-align: center;
	img{
		max-width: 100%;
		height: auto;
		display: inline-block;
		max-height: 100%;
	}
}

@import "components/workarea";

@import "components/footer";




@import "components/media";





