.page-footer{
	
}

.page-footer-top{
	background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
}

.page-footer-top__wrap{
	display: flex;
}

.page-footer-top__item{
	width: 33.333%;
	text-align: center;
	padding: 25px 0;
	&:first-child{
		text-align: left;
	}
	&:nth-child(2){
		background: rgba(0,0,0,0.1);
	}
}

.page-footer-info{
	background: #fff;
	padding: 25px 0 38px;
}

.page-footer-top__title{
	color: rgba(255,255,255,0.6);
	font-size: 16px;
	margin-bottom: 10px;
}