.page-footer{
	overflow: hidden;
}

.page-footer-top{
	background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
}

.page-footer-top__wrap{
	display: flex;
}

.page-footer-top__item{
	width: 33.333%;
	text-align: center;
	padding: 25px 0 19px;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #056493;
		opacity: 0;
		transition: opacity 0.3s ease;
		//z-index: -1;
	}
	&:hover{
		&:after{
			opacity: 0.3;
		}
	}
	&:nth-child(1){
		text-align: left;
		.page-footer-top__title{
			color: #6BF9E5;
		}
		&:before{
			content: "";
			display: block;
			width: 400%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 100%;
			background: #056493;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		&:hover{
			&:before{
				opacity: 0.3;
			}
		}
	}
	&:nth-child(2){
		background: rgba(0,0,0,0.1);
		.page-footer-top__title{
			color: #4BD6F2;
		}
	}
	&:nth-child(3){
		.page-footer-top__title{
			color: #5AC8FF;
		}
		&:before{
			content: "";
			display: block;
			width: 400%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 100%;
			background: #056493;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		&:hover{
			&:before{
				opacity: 0.3;
			}
		}
	}
}

.page-footer-info{
	background: #fff;
	padding: 25px 0 38px;
	font-size: 14px;
}

.page-footer-top__title{
	//color: rgba(255,255,255,0.6);
	font-size: 16px;
	margin-bottom: 5px;
	position: relative;
	z-index: 1;
}

.develop {
	padding-top: 26px;
}

.develop__link{
	color: #058ACD;
	&:hover{
		color: #056493;
	}
}

.page-footer-info-cards__wrap{
	display: flex;
	align-items:center;
}

.page-footer-info-cards__item{
	margin-right: 23px;
	&:last-child{
		margin-right: 0;
	}
	img{
		display: block;
	}
}

.page-footer-info-cards__title{
	margin-bottom: 14px;
}


.page-footer-info-support__title{
	margin-bottom: 24px;
}


.page-footer-info-support__link{
	color: #058ACD;
	&:hover{
		color: #056493;
	}
}



.page-footer-info-socials__title{
	margin-bottom: 10px;
}
.page-footer-info-socials__list{
	display: flex;
	align-items:center;
}

.page-footer-info-socials__item{
	height: 32px;
	width: 32px;
	margin-right: 22px;
	transition: background 0.2s ease;
	&:last-child{
		margin-right: 0;
	}
}

.page-footer-info-socials__item--vk{
	background: url(../img/svg/vk-b.svg) no-repeat;
	background-size: contain;
	&:hover{
		background: url(../img/svg/vk-b-h.svg) no-repeat;
		background-size: contain;
	}
}
.page-footer-info-socials__item--fb{
	background: url(../img/svg/fb-b.svg) no-repeat;
	background-size: contain;
	&:hover{
		background: url(../img/svg/fb-b-h.svg) no-repeat;
		background-size: contain;
	}
}
.page-footer-info-socials__item--inst{
	background: url(../img/svg/inst-b.svg) no-repeat;
	background-size: contain;
	&:hover{
		background: url(../img/svg/inst-b-h.svg) no-repeat;
		background-size: contain;
	}
}

.copyright{
	line-height: 1.1;
}

.page-footer-top__add{
	color: #fff;
	font-size: 26px;
	font-family: 'osnova_probold';
	position: relative;
	z-index: 1;
}

.page-footer-top__add--phone{
	padding-right: 113px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(../img/svg/whatsapp.svg) no-repeat;
		background-size: contain;
		position: absolute;
		right: 42px;
		top: 50%;
		transform: translateY(-50%);
		margin-top: -1px;
	}
	&:after{
		content: "";
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(../img/svg/viber.svg) no-repeat;
		background-size: contain;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-top: -1px;
	}
}

.page-footer-top__add--mail{
	position: relative;
	padding-right: 20px;
	&:after{
		content: "";
	    width: 15px;
	    height: 15px;
	    position: absolute;
	    right: 0;
	    top: 50%;
	    transform: translatey(-50%) rotate(-90deg);
	    background: url(../img/svg/d-arrow.svg) no-repeat;
	    background-size: 15px 15px;
	    margin-top: 2px;
	    opacity: 0.6;
	}
}