.page-header{
	padding-top: 16px;
	left: 0;
    top: 0;
    width: 100%;
    position: fixed;
	z-index: 3;
	color: #fff;
	&.fixed{
		transition: all 0.3s ease;
		box-shadow: 0 2px 20px 0 rgba(0,0,0,0.12);
		background: #fff;
		padding: 16px 0;
		.page-header__logo{
			width: 56px;
		    height: 48px;
		    background: url(../img/svg/logo_mobile.svg) no-repeat;
		    background-size: cover;
		    margin: -10px 0;
		}
		.page-header__top,
		.top-search{
			display: none;
		}
		.page-header__r {
		    padding-top: 0;
		    white-space: nowrap;
		}
		.page-header__r .btn {
		    max-width: inherit;
		    padding: 8px 12px 8px;
		}
		.top-nav__link{
			color: #022835;
			font-size: 17px;
			font-family: "Roboto", Arial, sans-serif;
			&:hover{
				color: #0088CC;
			}
		}
		.top-nav {
		    padding-top: 2px;
		}
		.submenu__list{
			box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
		}
	}
}

.page-header__logo{
	display: inline-block;
	width: 170px;
	height: 137px;
	background: url(../img/svg/top-logo.svg) no-repeat;
	background-size: contain;
	//transition: all 0.3s ease;
}
.page-header__wrap{
	display: flex;
	justify-content: space-between;
}



.page-header__r{
	text-align: right;
	padding-top: 5px;
	min-width: 137px;
	.btn{	
		font-size: 14px;
	    max-width: 116px;
	    text-align: center;
	    padding: 3px 6px 2px;
	    line-height: 1.15;
	}
}

.top-search{
	margin-bottom: 28px;
	font-size: 14px;
	position: relative;
}

.top-search__link{
	color: #fff;
	position: relative;
	display: inline-block;
	padding-left: 36px;
	&:before{
		content: "";
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(../img/svg/search.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%); 
	}

	&:hover{
		color: #939393;
	}
}




.page-header__info{
	    flex: 1 0 auto;
    padding: 0 88px 0 57px;
}



.top-nav{
	display: flex;
	justify-content: space-between;
}

.top-nav__link{
	color: #fff;
	font-family: 'osnova_probold';
	&:hover{
		color: #0088CC;
	}
	&.active{
		color: #0088CC;	
	}
}


.page-header__top{
	display: flex;
	justify-content: space-between;
	font-size: 17px;
	border-bottom: 1px solid rgba(255,255,255,0.16);
	    padding-bottom: 11px;
    margin-bottom: 15px;
    padding-top: 2px;
}

.page-header__mail{
	color: #fff;
	margin-left: 55px;
	&:hover{
		color: #939393;
	}
}

.page-header__phone{
	color: #fff;
	padding-right: 73px;
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		width: 22px;
		height: 22px;
		background: url(../img/svg/viber.svg) no-repeat;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 22px;
		height: 22px;
		background: url(../img/svg/whatsapp.svg) no-repeat;
		position: absolute;
		right: 26px;
		top: 0;
	}
	&:hover{
		color: #939393;
	}
}


.top-socials{
	display: flex;
	align-items:center;
	margin-left: 38px;
}
.top-socials__item {
	height: 26px;
	width: 26px;
	border: 1px solid rgba(255,255,255,0.3);
	//opacity: 0.5;
	border-radius: 50%;
	margin-right: 12px;

	&:last-child{
		margin-right: 0;
	}
}

.top-socials__item--vk{
	background: url(../img/svg/vk.svg) center no-repeat;
	//transition: background 0.2s ease;
	&:hover{
		background: #fff url(../img/svg/vk-h.svg) center no-repeat;
	}
}

.top-socials__item--fb{
	background: url(../img/svg/fb.svg) center no-repeat;
	//transition: background 0.2s ease;
	&:hover{
		background: #fff url(../img/svg/fb-h.svg) center no-repeat;
	}
}

.top-socials__item--inst{
	background: url(../img/svg/inst.svg) center no-repeat;
	//transition: background 0.2s ease;
	&:hover{
		background: #fff url(../img/svg/inst-h.svg) center no-repeat;
	}
}


.page-header__links{
	display: flex;
	align-items: center;
}

.page-header-lang__icon{
	width: 23px;
	height: 23px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
	
}
.page-header-lang__list{
    position: absolute;
    top: 100%;
    background: #fff;
    left: 0;
    margin-top: 9px;
    display: none;
    padding: 6px 0;
    border-radius: 4px;
    z-index: 2;
}

.page-header-lang__list:after{
        content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: -3px;
    left: 21px;
    transform: rotate(45deg);
    border-right: 0;
    border-bottom: 0;
    background: #fff;
}


.page-header-lang{
    position: relative;
    padding-left: 13px;
    margin-top: -1px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
    &:hover{
    	.page-header-lang__view{
			opacity: 0.6;
    	}
	}
}
.page-header-lang__view .page-header-lang__icon{
  margin-right: 0;
}

.page-header-lang:after{
	content: "";
	width: 9px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 50%;
	transform:translatey(-50%);
	background: url(../img/svg/d-arrow.svg) no-repeat;
}

.page-header-lang__view{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.page-header-lang__view:hover{
  color: #BFC1C2;
}

.page-header__menu{
  overflow: visible;
}

.page-header-lang__item{
    display: block;
    background: #fff;
    color: #00141B;
    text-decoration: none;
    text-align: left;
        margin: 0 1px 3px 0;
    padding: 3px 11px;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    font-size: 14px;
    &:last-child{
    	margin-bottom: 0;
    }
}
.page-header-lang__item:hover{
  	color: #0088CC;
}





.page-header-currency__icon{
  width: 11px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  img{
  	max-width: 100%;
	height: auto;
	max-height: 100%;
	display: block;
  }
}
.page-header-currency__list{
    position: absolute;
    top: 100%;
    background: #fff;
    left: 9px;
    margin-top: 9px;
    display: none;
    padding: 6px 0;
    border-radius: 4px;
    .page-header-currency__icon{
    	margin-top: -2px;
    	    width: 13px;
    	    height: 13px;
    	text-align: center;
    }
    .page-header-currency__icon--rub{
		background: url(../img/svg/russian_ruble_black.svg) no-repeat;
		    background-size: contain;
	}
	.page-header-currency__icon--eur{
		background: url(../img/svg/eur_black.svg) no-repeat;
		    background-size: contain;
	}
	.page-header-currency__icon--usd{
		background: url(../img/svg/usd_black.svg) no-repeat;
		    background-size: contain;
	}
	.page-header-currency__icon--byn{
		background: url(../img/svg/br_black.svg) no-repeat;
		    background-size: contain;
	}
	.page-header-currency__item{
		&:hover{
			.page-header-currency__icon--rub{
				background: url(../img/svg/russian_ruble_blue.svg) no-repeat;
				    background-size: contain;
			}
			.page-header-currency__icon--eur{
				background: url(../img/svg/eur_blue.svg) no-repeat;
				    background-size: contain;
			}
			.page-header-currency__icon--usd{
				background: url(../img/svg/usd_blue.svg) no-repeat;
				    background-size: contain;
			}
			.page-header-currency__icon--byn{
				background: url(../img/svg/br_blue.svg) no-repeat;
				    background-size: contain;
			}
		}
	}
}

.page-header-currency__list:after{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: -3px;
    left: 12px;
    transform: rotate(45deg);
    border-right: 0;
    border-bottom: 0;
    background: #fff;
}


.page-header-currency{
    position: relative;
    padding-left: 13px;
    margin-top: -1px;
    cursor: pointer;
        display: flex;
    margin-left: 23px;
    transition:all 0.3s ease;
    &:hover{
    	.page-header-currency__view{
    		opacity: 0.6;
    	}
    }
}


.page-header-currency:after{
	content: "";
	width: 9px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 50%;
	transform:translatey(-50%);
	background: url(../img/svg/d-arrow.svg) no-repeat;
}

.page-header-currency__view{
	color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: 2px 7px 2px 6px;
    transition:all 0.3s ease;
}

.page-header-currency__item{
    display: block;
    background: #fff;
    color: #00141B;
    text-decoration: none;
    text-align: left;
        margin: 0 1px 3px 0;
    padding: 3px 11px;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    font-size: 14px;
    &:last-child{
    	margin-bottom: 0;
    }
}
.page-header-currency__item:hover{
  	color: #0088CC;
}



.menu-btn{
	display: none;
	&.active{
		.burger-icon {
		    background-color: transparent;
		    &:before{
				-webkit-transform: translateY(8px) rotate(45deg);
				-moz-transform: translateY(8px) rotate(45deg);
				-ms-transform: translateY(8px) rotate(45deg);
				-o-transform: translateY(8px) rotate(45deg);
				transform: translateY(8px) rotate(45deg);
		    }
		    &:after{
				-webkit-transform: translateY(-8px) rotate(-45deg);
				-moz-transform: translateY(-8px) rotate(-45deg);
				-ms-transform: translateY(-8px) rotate(-45deg);
				-o-transform: translateY(-8px) rotate(-45deg);
				transform: translateY(-8px) rotate(-45deg);
		    }
		}
	}
}
.burger-icon {
	display: block;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 28px;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s ease;
	&:before,
	&:after{
		display: block;
		width: 28px;
		height: 2px;
		background-color: #fff;
		transition: all 0.3s ease;
		position: absolute;
		content: "";
	}
	&:before{
		top: -8px;
	}
	&:after{
		top: 8px;
		width: 22px;
	}
}


.top-search__toggle{
	display: none;
	position: absolute;
	right: 0;
	top: -15px;
}
.top-search__input{
	border: 0;
	background: #fff;
	padding: 15px 20px 15px 56px;
	border-radius: 5px;
	    width: 413px;
	    color:#00141B;
}
.top-search__submit{
	width: 24px;
	height: 24px;
	background: url(../img/svg/search_icon.svg) no-repeat;
	position: absolute;
	left: 16px;
    top: 11px;
	display: inline-block;
	border: 0;
	text-indent: -9999em;
	padding: 0;
}

.top-search__close{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../img/svg/search_icon_close.svg) no-repeat;
	position: absolute;
	    right: 6px;
    top: 16px;
    transition:all 0.3s ease;
    &:hover{
    	background: url(../img/svg/search_icon_close_h.svg) no-repeat;
    }
}

.top-search__input::-webkit-input-placeholder {color:#00141B;transition:all 0.3s ease;}
.top-search__input::-moz-placeholder          {color:#00141B;transition:all 0.3s ease;}
.top-search__input:-moz-placeholder           {color:#00141B;transition:all 0.3s ease;}
.top-search__input:-ms-input-placeholder      {color:#00141B;transition:all 0.3s ease;}



.top-search__input:focus::-webkit-input-placeholder {color: transparent}
.top-search__input:focus::-moz-placeholder          {color: transparent}
.top-search__input:focus:-moz-placeholder           {color: transparent}
.top-search__input:focus:-ms-input-placeholder      {color: transparent}


.menu-mobile-wrapper{
	background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
    border-radius: 50% 50% 60% 60% / 0% 0% 10% 10%;
    padding-top: 66px;
    padding-bottom: 38px;
    margin-bottom: 26px;
}

.menu-mobile{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #eeeeee;
    z-index: 10;
    display: none;
    max-height: 100vh;
    overflow: auto;
        padding-bottom: 25px;
    // &:before{
    // 	content: "";
    // 	display: block;
    // 	width: 100%;
    // 	height: calc(100% - 74px);
    // 	position: absolute;
    // 	top: 0;
    // 	left: 0;
    // 	// background: url(../img/svg/oval.svg) no-repeat;
    // 	// background-size: cover;
    // 	background: linear-gradient(90deg, #1EBF9D 0%, #1073B9 100%);
    // 	border-radius: 50% 50% 60% 60% / 0% 0% 10% 10%;
    // 	    z-index: -1;
    // }
    .page-header__links{
		position: absolute;
		right: 12px;
		top: 12px;
    }
    .top-socials {
	    margin-left: 0;
	    justify-content: center;
	    // position: absolute;
	    // bottom: 22px;
	    width: 100%;
	}

	.top-socials__item--vk{
		background: #fff url(../img/svg/vk-h.svg) center no-repeat;
	}

	.top-socials__item--fb{
		background: #fff url(../img/svg/fb-h.svg) center no-repeat;
	}

	.top-socials__item--inst{
		background: #fff url(../img/svg/inst-h.svg) center no-repeat;
	}
}

.menu-mobile__item--submenu{
	position: relative;
}

.mobile-submenu__toggle{
	display: inline-block;
	width: 41px;
	height: 41px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/svg/submenu-toggle.svg) center no-repeat;
	transition: transform 0.3s ease;
	&.active{
		transform: rotate(180deg);
	}
}

.menu-mobile__close{
	position: absolute;
	left: 12px;
	top: 12px;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/svg/mobile-close.svg) no-repeat;
}

.menu-mobile__list{
	margin: 0 60px 43px;
	border-top: 1px solid rgba(255,255,255,0.3);
}

.menu-mobile__link{
	color: #fff;
	font-family: 'osnova_probold';
	font-size: 18px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 8px 0;
	text-align: center;
	display: block;
}

.menu-mobile__contact{
	text-align: center;
	.page-header__mail,
	.page-header__phone{
		font-size: 17px;
	}
	.page-header__mail{
		display: block;
	}
	.page-header__phone{
		margin-left: 16px;
    	margin-bottom: 10px;
    	display: inline-block;
	}
}

.submenu{
	position: relative;
	&:hover{
		.submenu__list{
			opacity: 1;
			transform: translate(0, 0);
			z-index: 2;
			visibility: visible;
			transition: all 0.3s ease-in-out;
		}
	}
}

.submenu__list{
	padding: 34px 0px 22px 24px;
	border-radius: 5px;
	background: #fff;
	position: absolute;
	left: -24px;
	columns: 2;
	margin-top: 15px;
	opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    visibility: hidden;
    transform: translate(0, 5%);
	 &:before{
	 	content: "";
	    width: 6px;
	    height: 6px;
	    position: absolute;
	    top: -3px;
	    left: 34px;
	    transform: rotate(45deg);
	    border-right: 0;
	    border-bottom: 0;
	    background: #fff;
	}
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 20px;
		position: absolute;
		left: 0;
		bottom: 100%;
		opacity: 0;
	}
}

.submenu__list--single{
	columns: auto;
	padding: 20px;
	.submenu__item{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.submenu__item{
	// display: flex;
	
	// width: 50%;
	padding-right: 20px;
	    margin-bottom: 12px;
	&:hover{
		.submenu__txt{
			color: #0088CC;
		}
	}
}

.submenu__link{
	display: flex;
	align-items:center;
	white-space: nowrap;
	&.active{
		.submenu__txt {
		    color: #0088CC;
		}
	}
}

.submenu__icon{
	width: 42px;
	min-width: 42px;
	height: 42px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 8px;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
		display: block;
	}
}
.submenu__txt{
	font-size: 17px;
	color: #022835;
	transition: color 0.3s ease;
}


.layout--index{
	.menu-mobile{
		.top-search__link,
		.page-header__mail, 
		.page-header__phone,
		.page-header-currency__view {
		    color: #fff;
		}
		.page-header-lang:after,
		.page-header-currency:after{
		    background: url(../img/svg/d-arrow.svg) no-repeat;
		}
	}
} 


.mobile-submenu__list{
	padding-top: 13px;
    /* padding-bottom: 13px; */
    border-bottom: 1px solid #fff;
    display: none;
}

.mobile-submenu__item{
	margin-bottom: 15px;
}
.mobile-submenu__link{
	display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-family: 'osnova_probold';
}
.mobile-submenu__icon{
	width: 34px;
	height: 34px;
	margin-right: 8px;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
		
		display: block;
	}
}

.top-nav__item{
	&.active{
		>.top-nav__link{
			color: #0088CC;
		}
	}
}